---
import Hero from "../components/Hero.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import AccentText from "../components/AccentText.astro";
import Icon from "../components/Icon.astro";
import SubSubTitle from "../components/SubSubTitle.astro";
import Text from "../components/Text.astro";
---

<Layout>
  <Hero bg="bg-sky-50">
    <div slot="left" class="">
      <div
        class="flex flex-col md:items-start md:text-left items-center text-center order-2 md:order-1 gap-6"
      >
        <h1
          class="text-4xl md:text-5xl lg:text-6xl font-extrabold tracking-tighter text-gray-800 uppercase"
        >
          Hola! soy
          <br class="hidden lg:inline-block" />
          <AccentText>Pablo</AccentText> Gómez
          <br class="hidden lg:inline-block" />Romero
        </h1>
        <Text>
          Nací en Logroño el 1 de agosto de 1991, mis padres son de 2
          pueblecitos riojanos. A mi padre y mi tío le debo la pasión por la
          economía, el fútbol y la bicicleta. Me encantan muchas cosas y con
          intensidad; entre ellas la economía, los deportes, la política y los
          viajes.
        </Text>
        <div class="flex justify-start gap-4">
          <a href="" target="_blank">
            <Icon name="twitter" class="w-12 h-12 fill-[black]" />
          </a>
          <a href="" target="_blank">
            <Icon name="instagram" class="w-12 h-12 fill-[#FF0069]" />
          </a>
        </div>
      </div>
    </div>
    <div slot="right">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="https://dummyimage.com/720x600"
      />
    </div>
  </Hero>
  <section class="container mx-auto bg-white">
    <div class="py-8 px-4 sm:py-16 lg:px-6">
      <div class="max-w-screen-md mb-8 lg:mb-16">
        <Title>Puedes <AccentText>contar</AccentText> conmigo para:</Title>
      </div>
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
      >
        <div class="flex flex-col gap-6">
          <div class="flex gap-2 items-center rounded-full bg-primary-100">
            <Icon name="microphone" class="w-6 h-6 fill-[black]" />
            <SubSubTitle>Operations</SubSubTitle>
          </div>
          <Text>
            Plan it, create it, launch it. Collaborate seamlessly with all the
            organization and hit your marketing goals every month with our
            marketing plan.
          </Text>
        </div>
        <div class="flex flex-col gap-6">
          <div class="flex gap-2 items-center rounded-full bg-primary-100">
            <Icon name="microphone" class="w-6 h-6 fill-[black]" />
            <SubSubTitle>Operations</SubSubTitle>
          </div>
          <Text>
            Protect your organization, devices and stay compliant with our
            structured workflows and custom permissions made for you.
          </Text>
        </div>
        <div class="flex flex-col gap-6">
          <div class="flex gap-2 items-center rounded-full bg-primary-100">
            <Icon name="microphone" class="w-6 h-6 fill-[black]" />
            <SubSubTitle>Operations</SubSubTitle>
          </div>
          <Text>
            Auto-assign tasks, send Slack messages, and much more. Now power up
            with hundreds of new templates to help you get started.
          </Text>
        </div>
        <div class="flex flex-col gap-6">
          <div class="flex gap-2 items-center rounded-full bg-primary-100">
            <Icon name="microphone" class="w-6 h-6 fill-[black]" />
            <SubSubTitle>Operations</SubSubTitle>
          </div>
          <Text>
            Audit-proof software built for critical financial operations like
            month-end close and quarterly budgeting.
          </Text>
        </div>
        <div class="flex flex-col gap-6">
          <div class="flex gap-2 items-center rounded-full bg-primary-100">
            <Icon name="microphone" class="w-6 h-6 fill-[black]" />
            <SubSubTitle>Operations</SubSubTitle>
          </div>
          <Text>
            Craft beautiful, delightful experiences for both marketing and
            product with real cross-company collaboration.
          </Text>
        </div>
        <div class="flex flex-col gap-6">
          <div class="flex gap-2 items-center rounded-full bg-primary-100">
            <Icon name="microphone" class="w-6 h-6 fill-[black]" />
            <SubSubTitle>Operations</SubSubTitle>
          </div>
          <Text>
            Keep your company’s lights on with customizable, iterative, and
            structured workflows built for all efficient teams and individual.
          </Text>
        </div>
      </div>
    </div>
  </section>
</Layout>
