---
interface Props {
  variant?: "blue" | "gray";
}

const { variant = "blue" } = Astro.props;

const variants = {
  blue: "tracking-tight bg-gradient-to-r from-sky-600 to-sky-800 bg-clip-text text-transparent font-extrabold",
  gray: "tracking-tight bg-gradient-to-r from-gray-50 to-gray-200 bg-clip-text text-transparent font-extrabold",
};
---

<span class={variants[variant]}><slot /></span>
