---
interface Props {
  variant?: "gray" | "blue";
  class?: string;
}

const { variant = "gray", class: className = "" } = Astro.props;

const variants = {
  gray: "bg-gray-50",
  blue: "bg-sky-50",
};

const blockClasses = `${variants[variant]} p-8 rounded-lg ${className}`;
---

<div class={blockClasses}>
  <slot />
</div>
