---
import { SITE_TITLE } from "../consts";
import Icon from "./Icon.astro";

const today = new Date();
---

<footer class="flex items-center justify-center gap-6 flex-col my-12">
  <div>Pablo Gómez Romero. All rights reserved.</div>
  <div class="flex justify-center gap-4">
    <a href="" target="_blank">
      <Icon name="instagram" class="h-8 w-8 fill-[#FF0069]" />
    </a>
    <a href="" target="_blank">
      <Icon name="twitter" class="h-8 w-8 fill-[black]" />
    </a>
  </div>
</footer>
