---
import { SITE_TITLE } from "../consts";
import Icon from "./Icon.astro";

const today = new Date();
---

<footer class="flex items-center justify-center gap-6 flex-col my-12">
  <div>Pablo Gómez Romero. All rights reserved.</div>
  <div class="flex justify-center gap-4">
    <a href="https://www.linkedin.com/in/pablogomezromero/" target="_blank">
      <Icon name="linkedin" class="w-6 h-6 fill-[black]" />
    </a>
    <a href="https://www.instagram.com/pablo_gomez_romero" target="_blank">
      <Icon name="instagram" class="w-6 h-6 fill-[#FF0069]" />
    </a>
  </div>
</footer>
