---
export interface Props {
  variant?: "light";
}

const { variant = "light" } = Astro.props;

const variants = {
  light: "bg-sky-50",
};
---

<section class={`min-h-screen flex items-center ${variants[variant]}`}>
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 px-4 py-24 items-center"
  >
    <slot name="left" />
    <slot name="right" />
  </div>
</section>
