---
// Props: steps: Array<{ titulo: string; texto: string }>
import Block from "./Block.astro";
import SubSubTitle from "./SubSubTitle.astro";
import Text from "./Text.astro";
const { steps } = Astro.props;
---

<div class="flex flex-col gap-8">
  {
    steps.map((step: { titulo: string; texto: string }, idx: number) => (
      <Block>
        <div class="flex items-center gap-4 mb-2">
          <span class="bg-sky-800 text-white text-text font-bold rounded-full min-w-10 w-10 h-10 flex items-center justify-center text-xl">
            {idx + 1}
          </span>
          <SubSubTitle>{step.titulo}</SubSubTitle>
        </div>
        <Text>{step.texto}</Text>
      </Block>
    ))
  }
</div>
